<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Please sign in</title>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="registration-page hide">

        <form th:object="${userForm}" action="#" th:action="@{/registration}" class="form-registration" method="post">

            <div th:if="${#fields.hasErrors('*')}">
                <div th:each="e : ${#fields.detailedErrors()}"
                     th:class="${e.global} ? globalerr : fielderr">
                    <p class="alert alert-danger" role="alert" th:text="${e.message}">The error message</p>
                </div>
            </div>

            <h2 th:text="#{form.registration.header}"></h2>
            <div class="form-group">
                <label class="sr-only" for="email">Email</label>
                <input autofocus class="form-control" name="email" required
                       th:placeholder="#{form.login.placeholder.email}"
                       type="text">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input class="form-control" name="password" required th:placeholder="#{form.login.placeholder.password}"
                       type="password">
            </div>
            <div class="form-group">
                <label class="sr-only" for="passwordConfirm">Password Confirm</label>
                <input class="form-control" name="passwordConfirm" required
                       th:placeholder="#{form.login.placeholder.password.confirm}"
                       type="password">
            </div>
            <div class="form-group">
                <input class="form-control" name="name" required th:placeholder="#{form.registration.placeholder.name}"
                       type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="birth" onblur="if(this.value===''){this.type='text'}"
                       onfocus="(this.type='date')" th:placeholder="#{form.registration.placeholder.birthDate}"
                       type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="accountNumber" required
                       th:placeholder="#{form.registration.placeholder.accountNumber}" type="text">
            </div>
            <div class="input-group form-group">
                <input class="form-control" name="balance" required
                       th:placeholder="#{form.registration.placeholder.balance}"
                       type="text">
                <select class="form-control currency-selector" name="currency" required>
                    <option selected>UAH</option>
                    <option>USD</option>
                    <option>EUR</option>
                </select>
            </div>
            <button class="btn btn-primary" th:text="#{form.login.registration.link}" type="submit"></button>
            <div class="change-view form-group">
                <a href="/login" th:text="#{form.registration.login.hint}"></a>
            </div>
        </form>
    </div>
</div>
<!--<script type="text/javascript">-->
<!--    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd'});-->
<!--</script>-->
</body>
</html>