<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar">&nbsp;</div>
<div class="row">
    <div class="col home-column">
        <h1 class="display-4" th:text="#{events.header}"></h1>
        <th:block th:each="event : ${events}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${event.title}"></h5>
                    <p class="card-text"
                       th:text="#{event.time.start} + ': ' + ${event.startDate}"></p>
                    <p class="card-text"
                       th:text="#{event.time.finish} + ': ' + ${event.endDate}"></p>

                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" th:href="@{'/player/bets?eventId=' + ${event.id}}"
                       th:text="#{event.to.bets}"></a>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>