<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Wagers</title>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar">&nbsp;</div>


<div class="alert alert-danger" role="alert" th:if="${eventAlreadyStarted}" th:text="#{event.already.started}">
</div>

<div class="container border border-primary rounded mt-2">
    <div class="row bg-primary">
        <h6 class="text-center text-light font-weight-normal p-2 pl-4" th:text="#{home.wager.header}"></h6>
    </div>



    <table class="w-100">
        <tr>
            <th></th>
            <th th:text="#{wager.index}"></th>
            <th th:text="#{wager.title}"></th>
            <th th:text="#{event.type}"></th>
            <th th:text="#{bet.type}"></th>
            <th th:text="#{outcome.value}"></th>
            <th th:text="#{home.wager.odd}"></th>
            <th th:text="#{wager.amount}"></th>
            <th th:text="#{wager.isWinner}"></th>
            <th th:text="#{waged.isProcessed}"></th>
        </tr>
        <th:block th:each="wager : ${wagers}">
            <tr>
                <td>
                    <form id="removeForm" method="post" th:action="@{/player/wager/{wagerId}(wagerId=${wager.id})}">
                        <input name="_method" type="hidden" value="DELETE">
                        <input name="id" th:value="${wager.id}" type="hidden"/>
                        <input class="border border-primary rounded bg-primary text-light" th:value="#{form.remove}"
                               type="submit">
                    </form>
                </td>
                <td th:text="${wager.outcomeOdd.outcome.bet.sportEvent.id}">index</td>
                <td th:text="${wager.outcomeOdd.outcome.bet.sportEvent.title} + ' ' + ${wager.outcomeOdd.validUntil}"></td>
                <td th:text="${wager.outcomeOdd.outcome.bet.sportEvent.class.simpleName}"></td>
                <td th:text="${wager.outcomeOdd.outcome.bet.type.name}"></td>
                <td th:text="${wager.outcomeOdd.outcome.description}"></td>
                <td th:text="${wager.outcomeOdd.value}"></td>
                <td th:text="${wager.amount} + ' ' + ${wager.currency}"></td>
                <td th:text="${wager.winner}"></td>
                <td th:text="${wager.processed}"></td>
            </tr>
        </th:block>
    </table>
</div>


</body>
</html>