@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
    font-family: "Open Sans", sans-serif;
    background: #eeeeee;
}


.backtocab{
    margin: 20px;
    text-align: right;
}

.m0auto{
    margin: 0 auto;
}

.fs16{
    font-size: 16px;
}

.fs12{
    font-size: 12px  !important;
}

.w44{
    width: 34% !important;
}


.bc-drk-org{
    background-color: darkorange;
}

.pgselect { width: 50px; text-align-last:center; }

