<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Please sign in</title>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{/js/ajax/create-sport-event.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/personal-cabinet.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fab.css}"></head>

<body class="bg-light">
<!--<div th:replace="fragments/navbar :: navbar">&nbsp;</div>-->
<div class="container d-flex justify-content-center align-items-center">

    <div class="mt-3 font-weight-light">

        <form action="#" class="p-5 text-center mw-100 form-signin" method="post"
              th:action="@{/admin/create-sport-event}"
              th:object="${createSportEventForm}">

            <div th:if="${#fields.hasErrors('*')}">
                <div th:each="e : ${#fields.detailedErrors()}"
                     th:class="${e.global} ? globalerr : fielderr">
                    <p class="alert alert-danger" role="alert" th:text="${e.message}">The error message</p>
                </div>
            </div>

            <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
            <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>

            <div class="alert alert-success" role="alert" th:if="${(param.success != null) and (param.success[0] == 'true')}"
                 th:text="#{success}">
            </div>

            <h4 th:text="#{choose.sport.type}"></h4>

            <div class="input-group form-group">
                <select class="form-control currency-selector" name="sportType" id="sportType" required>
                    <th:block th:each="type : ${listOfTypes}">
                        <option th:text="${type.value}" th:value="${type}"></option>
                    </th:block>
                </select>
            </div>

            <div id="displayAfterSportTypeChosen">
                <h4 th:text="#{event}"></h4>
                    <hr>

                <div class="form-group">
                    <label class="sr-only" for="title">Title</label>
                    <input autofocus class="form-control" id="title" name="title" required
                           th:placeholder="#{sport.event.title}"
                           type="text">
                </div>

                <div class="form-group">
                    <label class="sr-only" for="startDate">startDate</label>
                    <input class="form-control" id="startDate" name="startDate"
                           onblur="if(this.value===''){this.type='text'}"
                           onfocus="(this.type='date')" th:placeholder="#{sport.event.start.date}"
                           type="text" required>
                </div>
                <div class="form-group">
                    <label class="sr-only"  for="endDate">endDate</label>
                    <input class="form-control" id="endDate" name="endDate"
                           onblur="if(this.value===''){this.type='text'}"
                           onfocus="(this.type='date')" th:placeholder="#{sport.event.end.date}"
                           type="text" required>
                </div>

                <h4 th:text="#{prediction.home.team.name}"></h4>

                <div class="input-group form-group">
                    <select id="dropdownTeams1" class="form-control currency-selector" name="homeTeamName" required>
                    </select>
                </div>

                <h4 th:text="#{prediction.away.team.name}"></h4>

                <div class="input-group form-group">
                    <select id="dropdownTeams2" class="form-control currency-selector" name="awayTeamName" required>
                    </select>
                </div>


                <button class="btn btn-primary" th:text="#{form.submit}" type="submit"></button>
            </div>

        </form>
    </div>
</div>
<div th:replace="fragments/fab :: fab">&nbsp;</div>
</body>
</html>
