<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title th:text="#{precict.sport.event}"></title>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{/js/pagination/pagination-predict-sp.js}"></script>

</head>
<body>
<div th:replace="fragments/navbar :: navbar">&nbsp;</div>


<div class="alert alert-danger" role="alert" th:if="${eventAlreadyStarted}" th:text="#{event.already.started}">
</div>

<div class="container border border-primary rounded mt-2">
    <div class="row bg-primary">
        <h6 class="text-center text-light font-weight-normal p-2 pl-4" th:text="#{home.wager.header}"></h6>
    </div>


    <table class="w-100">
        <tr>
            <th th:text="#{sport.event.type}"></th>
            <th th:text="#{sport.event.title}"></th>
            <th th:text="#{sport.event.home.team.name}"></th>
            <th th:text="#{sport.event.away.team.name}"></th>
            <th th:text="#{sport.event.start.date}"></th>
            <th th:text="#{sport.event.end.date}"></th>
            <th th:text="#{sport.event.use.only.stat}"></th>
        </tr>
        <th:block th:each="sportEvent : ${sportEvents}">
            <tr>
                <td th:text="${sportEvent.sportType}"></td>
                <td th:text="${sportEvent.title}"></td>
                <td th:text="${sportEvent.playerSides[0].name}"></td>
                <td th:text="${sportEvent.playerSides[1].name}"></td>
                <td th:text="${sportEvent.startDate}"></td>
                <td th:text="${sportEvent.endDate}"></td>
                <td>
                    <form th:if="${sportEvent.alreadyPredicted == false}"
                          id="predictSportEventForm" method="POST" th:object="${createPredictorForm}"
                          th:action="@{/admin/predict-sport-event/{sportEventId}(sportEventId=${sportEvent.id})}">
                        <input name="_method" type="hidden" value="POST">
                        <div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" th:id="'option1-' + ${sportEvent.id}" name="useOnlyStatisticRecords1"
                                       class="custom-control-input" value="true" th:field="*{useOnlyStatisticRecords}">
                                <label class="custom-control-label" th:for="'option1-' + ${sportEvent.id}"
                                       th:text="#{yes}"></label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" th:id="'option2-' + ${sportEvent.id}" name="useOnlyStatisticRecords2"
                                       class="custom-control-input" value="false" th:field="*{useOnlyStatisticRecords}">
                                <label class="custom-control-label" th:for="'option2-' + ${sportEvent.id}"
                                       th:text="#{no}"></label>
                            </div>
                            <input class="border border-primary rounded bg-primary text-light"
                                   th:value="#{form.predict}" type="submit">
                        </div>
                    </form>

                    <div th:if="${sportEvent.alreadyPredicted == true}">
                        <div style="margin: 0 auto; text-align: center" class="alert-dark"
                             th:text="#{sport.event.is.already}">
                        </div>
                    </div>

                </td>
            </tr>
        </th:block>
    </table>
</div>
<br>
<br>
<div class="container mt-2">
    <div class="row">
        <div class="form-group col-md-1">
            <select class="form-control pagination" id="pageSizeSelect">
                <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                        th:selected="${pageSize} == ${selectedPageSize}"></option>
            </select>
        </div>

        <div th:if="${sportEvents.totalPages != 1}" class="form-group col-md-11 pagination-centered">
            <ul class="pagination justify-content-center font-weight-medium">
                <li class="page-item" th:class="${sportEvents.number == 0} ? disabled">
                    <a class="page-link" th:href="@{/admin/predict-sport-event/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                </li>
                <li class="page-item" th:class="${sportEvents.number == 0} ? disabled">
                    <a class="page-link"
                       th:href="@{/admin/predict-sport-event/(pageSize=${selectedPageSize}, page=${sportEvents.number})}">&larr;</a>
                </li>

                <li class="page-item" th:class="${sportEvents.number == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="page-link" th:href="@{/admin/predict-sport-event/(pageSize=${selectedPageSize}, page=${page})}"
                       th:text="${page}"></a>
                </li>

                <li class="page-item" th:class="${sportEvents.number + 1 == sportEvents.totalPages} ? disabled">
                    <a class="page-link"
                       th:href="@{/admin/predict-sport-event/(pageSize=${selectedPageSize}, page=${sportEvents.number + 2})}">&rarr;</a>
                </li>

                <li class="page-item" th:class="${sportEvents.number + 1 == sportEvents.totalPages} ? disabled">
                    <a class="page-link"
                       th:href="@{/admin/predict-sport-event/(pageSize=${selectedPageSize}, page=${sportEvents.totalPages})}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>