<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title th:text="#{navbar.wagers}"></title>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script th:src="@{/js/pagination/pagination-wagers.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common-user-pages.css}">

</head>
<body>
<div th:replace="fragments/navbar :: navbar">&nbsp;</div>


<div class="alert alert-danger" role="alert" th:if="${eventAlreadyStarted}" th:text="#{event.already.started}">
</div>

<div class="alert alert-danger" role="alert" th:if="${eventAlreadyPredicted}" th:text="#{event.already.predicted}">
</div>

<div class="mt-5 container border border-warning rounded ">
    <div class="row bg-warning">
        <h6 class="text-center text-dark font-weight-normal p-2 pl-4" th:text="#{home.wager.header}"></h6>
    </div>

    <table class=" table table-hover table-striped   w-100">
        <thead class="">
        <tr>
            <th></th>
            <th th:text="#{wager.guess.bet.type.value}"></th>
            <th th:text="#{wager.guess.sportEvent.title}"></th>
            <th th:text="#{wager.guess.sportEvent.sportType}"></th>
            <th th:text="#{wager.creation.time}"></th>
            <th th:text="#{wager.amount}"></th>
            <th th:text="#{wager.outcome.type}"></th>
        </tr>
        </thead>
        <th:block th:each="wager : ${wagers}">
            <tr>
                <td>
                    <form id="removeForm" method="post" th:action="@{/user/wager/{wagerId}(wagerId=${wager.id})}">
                        <input name="_method" type="hidden" value="DELETE">
                        <input name="id" th:value="${wager.id}" type="hidden"/>
                        <input class="btn btn-warning border border-warning rounded bg-warning text-dark" th:value="#{form.remove}"
                               type="submit">
                    </form>
                </td>
                <td th:text="${wager.guess.bet.type.value}">index</td>
                <td th:text="${wager.guess.sportEvent.title}"></td>
                <td th:text="${wager.guess.sportEvent.sportType}"></td>
                <td th:text="${wager.creationTime}"></td>
                <td style="font-weight: 600;" th:text="${wager.amount} + ' ' + ${wager.currency}"></td>
                <td style="font-weight: 600;"  th:text="${wager.outcomeType.value}"></td>
            </tr>
        </th:block>
    </table>
</div>
<br>
<br>
<div class="container mt-2">
    <div class="row">
        <div class="form-group col-md-1">
            <select class="pgselect form-control pagination text-warning bg-light" id="pageSizeSelect">
                <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                        th:selected="${pageSize} == ${selectedPageSize}"></option>
            </select>
        </div>

        <div th:if="${wagers.totalPages != 1}" class="form-group col-md-11 pagination-centered">
            <ul class="pagination justify-content-center font-weight-medium">
                <li class="page-item" th:class="${wagers.number == 0} ? disabled">
                    <a class="page-link text-warning  bg-light" th:href="@{/user/wagers/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                </li>
                <li class="page-item" th:class="${wagers.number == 0} ? disabled">
                    <a class="page-link text-warning bg-light "
                       th:href="@{/user/wagers/(pageSize=${selectedPageSize}, page=${wagers.number})}">&larr;</a>
                </li>

                <li class="page-item" th:class="${wagers.number == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="page-link text-warning  bg-light" th:href="@{/user/wagers/(pageSize=${selectedPageSize}, page=${page})}"
                       th:text="${page}"></a>
                </li>

                <li class="page-item" th:class="${wagers.number + 1 == wagers.totalPages} ? disabled">
                    <a class="page-link text-warning   bg-light"
                       th:href="@{/user/wagers/(pageSize=${selectedPageSize}, page=${wagers.number + 2})}">&rarr;</a>
                </li>

                <li class="page-item" th:class="${wagers.number + 1 == wagers.totalPages} ? disabled">
                    <a class="page-link text-warning bg-light"
                       th:href="@{/user/wagers/(pageSize=${selectedPageSize}, page=${wagers.totalPages})}">&raquo;</a>
                </li>
            </ul>
        </div>
        <!-- customers pagination -->
        <!--        <nav aria-label="Pagination" th:if="${wagers.totalPages gt 0}">-->
        <!--            <ul class="pagination justify-content-center font-weight-medium">-->
        <!--                <li class="page-item" th:classappend="${wagers.number eq 0} ? 'disabled'">-->
        <!--                    <a class="page-link svg-icon"-->
        <!--                       th:href="@{/user/wagers?page={id}(id=${wagers.number lt 2 ? 1 : wagers.number})}"-->
        <!--                       aria-label="Previous"-->
        <!--                       title="Previous Page" rel="tooltip">-->
        <!--                        <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>-->
        <!--                    </a>-->
        <!--                </li>-->
        <!--                <li class="page-item" th:classappend="${i eq wagers.number + 1} ? 'active'"-->
        <!--                    th:each="i : ${#numbers.sequence( wagers.number + 1, wagers.totalPages > 10 + wagers.number ? wagers.number + 10 : wagers.totalPages, 1)}">-->
        <!--                    <a class="page-link" th:href="@{/user/wagers?page={id}(id=${i})}" th:text="${i}"-->
        <!--                       th:title="${'Page '+ i}"-->
        <!--                       rel="tooltip"></a>-->
        <!--                </li>-->
        <!--                <li class="page-item disabled" th:if="${wagers.number + 10 < wagers.totalPages}">-->
        <!--                    <a class="page-link svg-icon" href="#">-->
        <!--                        <span data-feather="more-horizontal" width="20" height="20"></span>-->
        <!--                    </a>-->
        <!--                </li>-->
        <!--                <li class="page-item" th:classappend="${wagers.number + 1 eq wagers.totalPages} ? 'disabled'">-->
        <!--                    <a class="page-link svg-icon" th:href="@{/user/wagers?page={id}(id=${wagers.number + 2})}"-->
        <!--                       aria-label="Next"-->
        <!--                       title="Next Page" rel="tooltip">-->
        <!--                        <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>-->
        <!--                    </a>-->
        <!--                </li>-->
        <!--            </ul>-->
        <!--        </nav>-->
    </div>
</div>
<br>
<br>
<div th:replace="fragments/footer :: footer">&nbsp;</div>

</body>
</html>
