<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/landing.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

<!-- Footer -->
<footer class=" page-footer font-small blue">
    <div class=" m-0 pt-3 justify-content-md-center">
        <!-- Copyright -->
        <div class="w-100 bg-light footer-copyright text-center py-3">
            <div class="">
                © 2021 Copyright: <a href="#"> Stanislav Holovachuk</a>
            </div>
        </div>
        <!-- Copyright -->
    </div>
</footer>
<!-- Footer -->

<!--<footer class="footerdiv bg-light" th:fragment="footer">-->

<!--    &copy;-->

<!--    <script>document.write(new Date().getFullYear());</script>-->

<!--    <span class="footerspan">Stanislav Holovachuk</span>-->


<!--</footer>-->
</body>
</html>
