<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/landing.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-light bg-light  navbar-expand-lg ">
<!--    bg-dark  navbar-dark   navbar-expand-lg -->
    <div class="navbar-nav">
        <a class="activeMenuItem nav-item nav-link navbar-brand" id="log" href="/">
            <img th:src="@{/image/orangelogo.png}"  width="30" height="30" class="d-inline align-top" alt="">
            <span class="logolefted"></span>
        </a>
<!--        <a href="/" class="activeMenuItem nav-item nav-link" id="log">-->
<!--            <img th:src="@{image/orangmin.png}" alt="">-->
<!--        </a>-->
<!--        <a class="nav-item nav-link" href="/" th:text="#{navbar.welcome.page}"></a>-->
        <a class="nav-item nav-link" href="/default-home" th:text="#{navbar.home}"></a>
        <a class="nav-item nav-link" href="/user/wagers" th:text="#{navbar.wagers}"></a>
        <a class="nav-item nav-link" href="/user/events" th:text="#{navbar.events}"></a>
        <a class="nav-item nav-link" href="/user/stats" th:text="#{navbar.stats}"></a>
        <a class="nav-item nav-link active text-danger" href="/logout" th:text="#{navbar.logout}"></a>
    </div>
    <div class="navbar-nav ml-auto">
        <div class="navbar-nav"
             th:with="currentUrl=(${#httpServletRequest.requestURI + '?' + #strings.defaultString(#httpServletRequest.queryString, '')})">

            <div class="navbar-nav" th:if="${(param.lang != null)}" >
                <a class="nav-item nav-link"
                   th:href="@{${urlBuilder.replaceQueryParam('lang', 'ua').build().toUriString()}}"
                   th:text="#{navbar.locale.ua}"
                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"></a>
                <a class="nav-item nav-link"
                   th:href="@{${urlBuilder.replaceQueryParam('lang', 'eng').build().toUriString()}}"
                   th:text="#{navbar.locale.eng}"
                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                </a>
            </div>
            <div class="navbar-nav" th:if="${(param.lang == null)}">
                <a class="nav-item nav-link text-dark text-capitalize" th:href="@{${currentUrl}(lang=ua)}" th:text="#{navbar.locale.ua}"></a>
                <a class="nav-item nav-link text-dark text-capitalize" th:href="@{${currentUrl}(lang=eng)}" th:text="#{navbar.locale.eng}"></a>
            </div>
        </div>


    </div>
</nav>
</body>
</html>
