<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="row bg-dark" th:fragment="header">
    <div class="col-md-12">
        <p></p>
        <h2 class="text-center text-light" th:text="#{login.header.welcome}"></h2>
        <p class="text-center text-light" th:text="#{login.header.description}"></p>
    </div>
</div>
</body>
</html>

