<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/player/home" th:text="#{navbar.home}"></a>
        <a class="nav-item nav-link" href="/player/wagers" th:text="#{navbar.wagers}"></a>
        <a class="nav-item nav-link" href="/player/events" th:text="#{navbar.events}"></a>
        <a class="nav-item nav-link" href="/logout" th:text="#{navbar.logout}"></a>
    </div>
    <div class="navbar-nav ml-auto">
        <div th:with="currentUrl=(${#httpServletRequest.requestURI + '?' + #strings.defaultString(#httpServletRequest.queryString, '')})">

            <div th:if="${(param.lang != null)}">
                <a class="nav-item nav-link"
                   th:href="@{${urlBuilder.replaceQueryParam('lang', 'ua').build().toUriString()}}"
                   th:text="#{navbar.locale.ua}"
                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"></a>
                <a class="nav-item nav-link"
                   th:href="@{${urlBuilder.replaceQueryParam('lang', 'eng').build().toUriString()}}"
                   th:text="#{navbar.locale.eng}"
                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                </a>
            </div>
            <div th:if="${(param.lang == null)}">
                <a class="nav-item nav-link" th:href="@{${currentUrl}(lang=ua)}" th:text="#{navbar.locale.ua}"></a>
                <a class="nav-item nav-link" th:href="@{${currentUrl}(lang=eng)}" th:text="#{navbar.locale.eng}"></a>
            </div>
        </div>


    </div>
</nav>
</body>
</html>